.container{
    min-width: 350px;
    max-width: 500px;
    width: 100%;
    height: 90%;
    border-radius: 15px;
    border: solid 1px #C6C6C7;
    transition: .15s ease;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &:hover { background-color: #F6F3F2; }
}

.container .memo_container {
    width: 150px;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    margin-left: 15px;
}

.memo_container .content_wrapper {
    width: 75%;
    height: 70%;
    padding: 10px;
    font-size: 12px;
    align-self: flex-start;
    display: flex;
    align-items: center;
    box-shadow: 0px 4px 4px 0px rgba(216, 176, 176, 0.1);
    word-break: break-all;
    word-wrap: break-word;
    justify-content: center;
}

.container .info_container {
    flex: .9 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.info_container span {
    font-size: 14px;
    font-weight: bold;
}

.info_container p {
    font-size: 12px;
    font-weight: 400;
    color: #737575;
    height: 20px;
}