.ai_chat_bubble_container {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap-reverse;
    flex-direction: row;
}

.ai_chat_bubble_container .chat_bubble_container {
    width: 260px;
}

.user_chat_bubble_container {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap-reverse;
    flex-direction: row;
}

.user_chat_bubble_container .chat_bubble_container {
    width: 260px;
    display: flex;
    flex-direction: column;
}

.chat_bubble_container .chat_bubble_wrapper {
    padding: 10px 12px;
    border-radius: 10px;
}

.chat_bubble_container span {
    margin-left: 10px;
    font-size: 12px;
    color: rgba(0,0,0,.25);
}

.chat_bubble_wrapper p {
    font-size: 14px;
    line-height: 1.4;
    word-wrap: break-word;
}

.icon {
    padding: 0px 6px 0px 6px;
}