.container_close {
    width: 350px;
    height: 65%;
    right: 40px;
    bottom: 140px;
    border-radius: 30px;
    box-shadow: 0px 4px 10px 5px #949dc146;
    position: fixed;
    display: flex;
    flex-direction: column;
    background-color: #EFF2FF;
    transition: .25s ease-in;
    transform: translate(0px, 80px);
    display: contents;
    opacity: 0;

    .input_container { display: none; }
    .title_container { display: none; }
    .tab_container { display: none;}
    .chat_container { display: none; }
}

.container_open {
    width: 350px;
    height: 65%;
    right: 40px;
    bottom: 120px;
    border-radius: 30px;
    box-shadow: 0px 4px 10px 5px #949dc146;
    display: flex;
    flex-direction: column;
    position: fixed;
    background-color: #EFF2FF;
    transition: .25s ease-in;
    transform: translate(0px, 0px);
    opacity: 1;
}

.title_container {
    width: 100%;
    height: 60px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    align-items: center;
    display: flex;
    flex-direction: row;
}

.title_container span {
    font-size: 18px;
    font-weight: bold;
}

.chat_container {
    float: left;
    overflow-y: scroll;
}

.input_container {
    width: 100%;
    height: 60px;
    bottom: 0;
    vertical-align: middle;
    background-color: #EFF2FF;
    display: flex;
    position: fixed;
    flex-direction: row;
    justify-content: center;
}

.input_container textarea {
    width: 250px;
    height: 30px;
    background-color: white;
    outline-width: 0px;
    padding-left: 15px;
    padding-top: 20px;
    border: none;
    border-radius: 15px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    resize: none;

    font-size: 12px;
    font-weight: 500;
}

.input_container .send {
    width: 60px;
    height: 52px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    transition: .15s ease-out;
}

.input_container .send:hover {
    background-color: rgb(233, 233, 233);
}

.chat_container .channel_info_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 24px 8px;
}

.channel_info_container span {
    font-size: 16px;
    font-weight: bold;
}

.channel_info_container p {
    padding: 6px;
    border-radius: 999px;
    text-align: center;
    font-size: 10px;
    line-height: 1.3;
    color: rgba(0, 0, 0, 0.6);
}